.game-of-life-grid {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
}

.cellwrapper {
    display:block;
}

.cell {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}

.cell.live {
    background-color: yellow;
}


.cell.dead {
    background-color: black;
}